<% provide(:title, @user.name) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Add dog', new_dog_path %>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Date of birth</th>
      <th>Registered until</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'dog', collection: @dogs %>
    </tbody>
  </table>
</div>